DATABASE_URL="postgres://bundlr:bundlr@127.0.0.1:5432/bundlr"
PORT=42069
BUNDLER_PUBLIC="1-cS21IT6qauREyJNu4rAQGJUHmX0nqRCQOIYjni9vOQlP6rnM_a2qiHNTDmo3D1nwvJ6lmQ57dyfJhlt7DtzeRYRRvFQHDQBSrE5A0NlwSQ9thN18VaSMHiQuJ3bKOQn9MXZQFGclrGAtMNa2ZOmTi4x5ExZ39SEUVLmAL7IfnfHkXbxckTE_ZJqwrqzwfEkUCbbkK3fovMvifU6eAO4T_rWVpL9nYPiW73bMzs0qMfClxSMbo1BK2RS4PghJkmGsWP9goTgLgmGOMZTylPeiwIdJd9jurY0pytmdeIwvtdoUrwjbmygngC7J0zPqhc0Hse34fCHH6qyka1ZIrPW8qd3KjUaqXAgzuDXCsNQalYiq03DAQXMKnsfSQ5-4trpcBF3JZOXTTYjQAKO8BhWEgWZ6J4hnkbwvEX7q9DCqgbvFHGAQw7OtG8ZfXPH3wpOcxrU0jdvgaxsw7gCISAFdSS4f3OSqe2ra9p-w1UvBKQvHxps7ih35e6rhgbu4jnXsN96hyXunRkVYywXC9rCh42z2xYRYxRJC7ZdI1HNaxF6oxldFPg_AbxtLWZ-2Grd_-AZk9qppdCHAtFPsPzWy0w_TDt0yprFphS7sGenx4t2PAGPvEbqEKgdezDtIozRqE2AvOFaPd7KqpKSwhyvmAL-HiwHGnXb7diS6-oO6M"
VALIDATOR_KEY="./wallet.json"
BUNDLER_URL="https://node1.bundlr.network"
